{% load cms_tags sekizai_tags menu_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>씨뿌리는 교회 | {% page_attribute "title" %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ STATIC_URL}}css/bootstrap.css"/>

        <link rel="stylesheet" href="{{ STATIC_URL}}css/bootstrap-responsive.css"/>
        <link rel="stylesheet" href="{{ STATIC_URL}}css/main.css"/>

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% render_block "css" %}
        {% block css %}
        {% endblock %}
        {% block head %}
        {% endblock %}
    </head>
    <body>
      {% cms_toolbar %}
        <div class="top-spacer"></div>
        <div class="outer">
            <div class="header">
                <div class="logo">
                <a class="brand" href="/"><img src="{{ STATIC_URL}}img/sowing-church-logo.gif" border="0" width="225" alt="씨부리는 교회 로고" /></a>
                </div><!--div class="btn-group pull-right">
                </div-->
                <div class="pull-right">
                        <div class="container" style="width:auto;">
                    <ul class="topnav" role="navigation">
                        {% show_menu 0 1 100 100 "menu/menu_custom.html" %}
                    </ul>
                        </div>
                </div>
            </div>

            {% block base_content%}{% endblock %}

            <footer>
                {% block footer %}
                  {% placeholder 'footer' or %}
                  <p><img src="{{ STATIC_URL}}img/addr.gif" border="0" width="915" height="40"
                          alt="씨뿌리는 교회 Sowing Church 담임목사 이승준 201-675-7855"></p>
                  {% endplaceholder %}
                {% endblock %}
            </footer>
        </div>

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
        <script type="text/javascript">
          $(function() {
              $('.topnav > li').hover(function() {
                  if(!$(this).hasClass("ancestor")) {
                      var $img = $(this).find("img");
                      var offImg = $img.attr("src");
                      var onImg = offImg.replace("_off.gif", "_on.gif");
                      //$(this).parent().css("background-image", "url(" + onImg + ")");
                      $img.attr("src", onImg);
                  }
                  var $subnav = $(this).find(".subnav");
                  var $topnav = $(this).parent();
                  var tRightEdge = $topnav.offset().left + $topnav.outerWidth();
                  $subnav.show();//css("display", "inline-table");
                  var sRightEdge = $subnav.offset().left + $subnav.outerWidth();
                  if(sRightEdge > tRightEdge)
                      $subnav.offset({left: $subnav.offset().left - (sRightEdge - tRightEdge)});
              },function(){
                  $(this).find(".subnav").hide();
                  if(!$(this).hasClass("ancestor")) {
                      var $img = $(this).find("img");
                      var onImg = $img.attr("src");
                      var offImg = onImg.replace("_on.gif", "_off.gif");
                      //$img.fadeOut(function(){
                      $img.attr("src", offImg);
                  }
              });
              $('.home-links a').hover(function() {
                  var $img = $(this).find("img");
                  var offImg = $img.attr("src");
                  var onImg = offImg.replace("_off.gif", "_on.gif");
                  $img.attr("src", onImg);
              },function(){
                  var $img = $(this).find("img");
                  var onImg = $img.attr("src");
                  var offImg = onImg.replace("_on.gif", "_off.gif");
                  $img.attr("src", offImg);
              });
          });
        </script>
        {% render_block "js" %}
    </body>
</html>