{% extends "base__.html" %}
{% load cms_tags sekizai_tags %}
{% block head %}
    <meta name="description" content="씨뿌리는 교회에는 벅찬 꿈이 있습니다.
    심히 좋아하셨던 창조와 에덴동산에 두신 하나님의 계획과 기대를 다시 이루기 위한 꿈과 확신으로 이 땅에 뿌려진 하늘 씨앗이 씨뿌리는 교회입니다.">
{% endblock %}
{% block css %}
{% addtoblock "css" %}
<style>
    .theme-light {
        padding: 10px 0px 10px 0px !important;
    }
    .home-links {
        margin-top: 40px;
    }
    td {
        line-height: 0px;
    }
</style>
{% endaddtoblock %}
{% endblock %}
{% block base_content %}
    <div class="hero-unit">
        {% placeholder "home-hero" or %}`
        <h1>Top Section</h1>
        <p>This is the top section of the homepage. Please add content to this area.</p>
        {% endplaceholder %}
    </div>

    <div class="row-fluid">
        <div class="span7">
          {% placeholder 'home-col-1'  or %}
          <h2>Bottom Left Section</h2>
           <p>This is the bottom left section of the homepage. Please add content to this area.</p>
          {% endplaceholder %}
        </div>
        <div class="span5">
            <div class="row-fluid">
                <div class="span12">
                    {% placeholder 'home-col-2-1' or %}
                        <h2>Botom Right Top Section</h2>
                        <p>Please add content to this area. </p>
                    {% endplaceholder %}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    {% placeholder 'home-col-2-2' or %}
                        <h2>Botom Right Bottom Section</h2>
                        <p>Please add content to this area. </p>
                    {% endplaceholder %}
                </div>
            </div>
       </div>
      </div>

{% endblock %}