body {
    font-size: 12px; color:#555555;
    line-height: 180%;
}
p strong {
    letter-spacing: -1;
    color: #333333;
}
.eng-strong {
    letter-spacing: 0;
}
img {
    max-width: none;
}
.outer {
    width: 915px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 61px;
}
.top-spacer {
    height: 13px;
    background-color: #D8D8D8;
}
.header {
    height: 70px;
    margin-bottom: 11px;
}
.logo {
    float: left;
}
footer {
    margin-top: 66px;
}
.topnav {
    list-style: none;
    margin: 0;
}
.topnav > li {
    float: left;
}
.topnav .on {
    position: absolute;
    display: none;
}
.content_top_img {
    margin-top: 14px;
}
.subnav.welcome {
    background-color: #3D8D91;
}
.subnav.sermon  {
    background-color: #9CAA05;
}
.subnav.vision-mission {
    background-color: #44669F;
}
.subnav.sowing   {
    background-color: #7A5628;
}
.subnav.growing  {
    background-color: #3F8142;
}
.subnav.reaping  {
    background-color: #C96613;
}
.subnav.connection  {
    background-color: #9C4B84;
}
.subnav {
    display: none;
    position: absolute;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    height: 24px;
}
.subnav ul {
    list-style: none;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    margin: 3px 0px 3px 0px ;
}
.subnav ul > li {
    float: left;
    padding-left: 6px;
    padding-right: 6px;
}
.subnav ul > li a:link {
    color: white;
}
.subnav ul > li a:visited {
    color: white;
}
.td_apply {
    padding-top: 8px;
    /*padding-bottom: 2px;*/
    padding-left: 6px;
    padding-right: 0px;
    /*line-height: 130%;*/
}
.time-location-table .td_apply {
    vertical-align: middle;
    padding: 5px 0px 2px 6px;
}
.location-contact-table {
    line-height: 15px;
}
.minister-table .td_apply {
    padding-top: 0;
}
.ministry-table p {
    margin-bottom: 0;
}
.ministry-table .td_dept {
    padding: 7px 0px 4px 0px;
}
.ministry-table .td_h {
    padding: 15px 5px 20px 0px;
}
.gallery li {
    list-style: none;
    margin: 5px 10px 15px 0;
    text-align: center;

    line-height: 1.5em;
#    border-bottom: 1px solid #ccc;
    float: left;
    display: inline;
    width: 30%;
    height: 118px;

}
.gallery img {
    padding: 4px;
    border: 1px;
    border-style: solid;
    border-color: wheat;
}
.gallery div {
    padding-top: 5px;
}